.item {
  display: flex;
  height: 60px;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#fff, 10%);
  }
}

.img {
  width: 50px;
  height: 50px;
  background: no-repeat center;
  background-size: cover;
  margin-right: 5px;
}

.name {
  font-size: 1rem;
  margin-bottom: 0;
}

.job {
  width: 170px;
  font-size: 0.7rem;
  color: #5b5b5b;
  margin-bottom: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  height: 30px;
  padding: 2px 4px;
  align-self: center;
}
