.list {
  height: 90vh;
  overflow: auto;
}

.message {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  border-bottom: 1px solid #000;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
}
